<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2>Agregar contacto</h2>
   <ion-input [(ngModel)]="inputNom" placeholder="Ingrese el nombre">Nombre:</ion-input>
   <ion-input [(ngModel)]="inputTel" placeholder="Ingrese un numero telfeonico">Telefono</ion-input>
   <ion-input [(ngModel)]="inputEmail" placeholder="Ingrese un email">Email</ion-input>
   <ion-input [(ngModel)]="inputNotas" placeholder="Ingrese alguna nota">Notas</ion-input>
   <p *ngIf="errorValidacion==true" style="color: red;">Es obligatorio ingresar todos los campos</p>
   <ion-button (click)="presentAlertConfirm()" expand="block"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
</ion-content>
